<!DOCTYPE html>
<html>
<head>
  <title>Admin | Data Order</title>
<style th:replace="/admin/share/style"></style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
		<div th:replace="admin/share/header"></div>
		<div th:replace="admin/share/left-side"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><i class="fas fa-folder-open"> </i> Data Table Order</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
								<li class="breadcrumb-item active">Data Table Order</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	
	<section class="content">
		<div class="card">
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>No.</th>
                    <th>Tanggal Order</th>
                    <th>Nama Customer</th>
                    <th>Alamat</th>
                    <th>Pembayaran</th>
                    <th>Tanggal Pembayaran</th>
                    <th>Ongkos Kirim</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Action</th>
                    
                     <th>Produk</th>
                    <th>Kuantitas</th>
                    <th>Harga Satuan</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>1</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>
                     <a th:href="@{/admin/#}" class="btn btn-warning" value="0">Proses</a>
                     <a th:href="@{/admin/#}" class="btn btn-danger" value="1"></i>Selesai</a>
                    </td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            </section>
  </div>
  <!-- /.content-wrapper -->
<div th:replace="admin/share/footer"></div>
</div>

<div th:fragment="script"></div> 
<div th:replace="admin/share/script"></div>
</body>
</html>