<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a th:href="@{/dashboard}" class="brand-link">
		<i class="fas fa-shopping-cart"></i>
		<span class="brand-text font-weight-light"> ADMIN PANEL</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
		 <div class="image" style="color:white;">
		 <i class="far fa-user-circle fa-2x" fa-7x></i>
		 </div>
			<div class="info">
				<a href="#" class="d-block">
				 Nama Admin</a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column"
				data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item has-treeview">
				<a th:href="@{/dashboard}" class="nav-link" 
				th:classappend="${#request.getServletPath() == '/dashboard' ? 'active' : ''}"><i
						class="nav-icon fas fa-home"> </i>   Dashboard </a></li>
				<li class="nav-header">Management</li>
				<li class="nav-item"><a th:href="@{/admin/list}" class="nav-link"
				th:classappend="${#request.getServletPath() == '/admin/list' ? 'active' : ''}">
						<i class="nav-icon fas fa-users-cog"></i> Management Admin
				</a>
				<li class="nav-item"><a th:href="@{/user/list}" class="nav-link"
				th:classappend="${#request.getServletPath() == '/user/list' ? 'active' : ''}">
						<i class="nav-icon fa fa-users"></i> Management Customer
				</a></li>
				<li class="nav-item"><a th:href="@{/brand/list}" class="nav-link"
				th:classappend="${#request.getServletPath() == '/brand/list' ? 'active' : ''}">
						<i class="nav-icon far fa-list-alt"></i> Management Kategori
				</a></li>
				<li class="nav-item"><a th:href="@{/product/list}"
					class="nav-link" th:classappend="${#request.getServletPath() == '/product/list' ? 'active' : ''}"> 
					<i class="nav-icon fas fa-box-open"></i> Management Produk
				</a></li>
				<li class="nav-item"><a th:href="@{/order/list}" class="nav-link"
				th:classappend="${#request.getServletPath() == '/order/list' ? 'active' : ''}">
						<i class="nav-icon fas fa-store"></i> Management Order
				</a></li>
				<li class="nav-header">Laporan Penjualan</li>
				<li class="nav-item"><a th:href="@{/laporan/harian}"
					class="nav-link"
					th:classappend="${#request.getServletPath() == '/laporan/harian' ? 'active' : ''}"> 
					<i class="nav-icon far fa-bookmark"></i> Laporan
						Harian
				</a></li>
				<li class="nav-item"><a th:href="@{/laporan/bulanan}"
					class="nav-link"
					th:classappend="${#request.getServletPath() == 'laporan/bulanan' ? 'active' : ''}">
					<i class="nav-icon far fa-bookmark"></i> Laporan
						Bulanan
				</a></li>
				<li class="nav-item"><a th:href="@{/laporan/tahunan}"
					class="nav-link" th:classappend="${#request.getServletPath() == '/laporan/tahunan' ? 'active' : ''}"> 
					<i class="nav-icon far fa-bookmark"></i> Laporan
						Tahunan
				</a></li>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>