
<div class="left_sidebar_area">
	<div class="single_product_menu d-flex"></div>
	<aside class="left_widgets p_filter_widgets">

		<div class="widgets_inner">
			<ul class="list">
				<li><a th:href="@{/profile}">Profile</a></li>
			</ul>
			<ul class="list">
				<li><a th:href="@{/profile/password/update}">Update Password</a></li>
			</ul>
			<ul class="list">
				<li><a th:href="@{/profile/address}">Alamat</a></li>
			</ul>
			<ul class="list">
				<li><a th:href="@{/profile/ewallet}">eWallet</a></li>
			</ul>
			<ul class="list">
				<li><a href="#">Logout</a></li>
			</ul>
		</div>
	</aside>
</div>