<!DOCTYPE html>
<html>
<head>
<title>aranoz</title>
<style th:replace="user/share/style"></style>
</head>
<body>
<body>
	<div th:replace="user/share/header"></div>
	<!--================Category Product Area =================-->
	<section class="cat_product_area section_padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="left_sidebar_area">
						<aside class="left_widgets p_filter_widgets">
							<div th:replace="user/share/left_side_profile"></div>
						</aside>

					</div>
				</div>
				<div class="col-lg-9">
					<div class="container">
						<div class="billing_details">
							<div class="row">
								<div class="col-lg-8">
									<h3>Tambah Data Alamat</h3>
									<form class="row contact_form" action="#" method="post"
										novalidate="novalidate">
										<div class="col-md-12 form-group">
											Kode Pos 
											<select class="country_select">
												<option value="1">Kode Pos</option>
												<option value="2">Kode Pos</option>
												<option value="4">Kode Pos</option>
											</select>
										</div>
										<div class="col-md-12 form-group">
											Provinsi 
											<select class="country_select">
												<option value="1">Provinsi</option>
												<option value="2">Provinsi</option>
												<option value="4">Provinsi</option>
											</select>
										</div>
										<div class="col-md-12 form-group">
											Kota 
											<select class="country_select">
												<option value="1">Kota</option>
												<option value="2">Kota</option>
												<option value="4">Kota</option>
											</select>
										</div>
										<div class="col-md-12 form-group">
											Alamat Lengkap
											<input class="form-control" type="text" placeholder="Alamat Lengkap" >
										</div>
										<div class="col-md-12 form-group">
											Nomor Telepon
											<input class="form-control" type="text" placeholder="Nomor Telepon" >
										</div>
									</form>
									<a href="#" class="btn_1">Ubah</a> <a th:href="@{/}"
										class="btn_1">Batal</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Category Product Area =================-->
	<div th:replace="user/share/footer"></div>
	<div th:fragment="script"></div>
	<div th:replace="user/share/script"></div>
</body>
</html>