<!DOCTYPE html>
<html>
<head>
<title>aranoz</title>
<style th:replace="user/share/style"></style>
</head>
<body>
<body>
	<div th:replace="user/share/header"></div>
	<!--================Category Product Area =================-->
	<section class="cat_product_area section_padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="left_sidebar_area">
						<aside class="left_widgets p_filter_widgets">
							<div th:replace="user/share/left_side_profile"></div>
						</aside>

					</div>
				</div>
				<div class="col-lg-9">
					<div class="container">
						<div class="billing_details">
							<div class="row">
								<div class="col-lg-8">
									<h3>Update</h3>
									<form class="row contact_form" action="#" method="post"
										novalidate="novalidate">
										<div class="col-md-12 form-group">
										Ubah Nama Lengkap
										<input class="form-control" type="text" placeholder="Nama lengkap" >
										</div>
									</form>
									<a href="#" class="btn btn-success">Simpan</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Category Product Area =================-->
	<div th:replace="user/share/footer"></div>
	<div th:fragment="script"></div>
	<div th:replace="user/share/script"></div>
</body>
</html>