<!DOCTYPE html>
<html>
<head>
<title>aranoz</title>
<style th:replace="user/share/style"></style>
</head>
<body>
<body>
	<div th:replace="user/share/header"></div>
	<!--================Category Product Area =================-->
	<section class="cat_product_area section_padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="left_sidebar_area">
						<aside class="left_widgets p_filter_widgets">
							<div class="single_product_menu d-flex">
								<div th:replace="/user/share/left_side_produk::search"></div>
							</div>

						</aside>

						<aside class="left_widgets p_filter_widgets">
							<div class="l_w_title">
								<h3>Product filters</h3>

								<ul class="list">
									<div th:replace="/user/share/left_side_produk::brand"></div>
								</ul>
								<ul class="list">
									<div th:replace="/user/share/left_side_produk::color"></div>
								</ul>
								<ul class="list">
									<div th:replace="/user/share/left_side_produk::price"></div>
								</ul>
							</div>

						</aside>

					</div>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-12">
							<div
								class="product_top_bar d-flex justify-content-between align-items-center">
								<div class="single_product_menu">
									<p>
										<span>10000 </span> Prodict Found
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row align-items-center latest_product_inner">
						<div class="col-lg-4 col-sm-6">
							<div class="single_product_item">
								<img src="/user/img/product/product_1.png" alt="">
								<div class="single_product_text">
									<h4>Quartz Belt Watch</h4>
									<h3>$150.00</h3>
									<a th:href="@{/wishlist}" class="add_cart"><i
										class="ti-heart"></i></a> <a th:href="@{/view/product/detail}"
										class="add_cart">Lihat Detail</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="single_product_item">
								<img src="/user/img/product/product_2.png" alt="">
								<div class="single_product_text">
									<h4>Quartz Belt Watch</h4>
									<h3>$150.00</h3>
									<a th:href="@{/wishlist}" class="add_cart"><i
										class="ti-heart"></i></a> <a th:href="@{/view/product/detail}"
										class="add_cart">Lihat Detail</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="single_product_item">
								<img src="/user/img/product/product_3.png" alt="">
								<div class="single_product_text">
									<h4>Quartz Belt Watch</h4>
									<h3>$150.00</h3>
									<a th:href="@{/wishlist}" class="add_cart"><i
										class="ti-heart"></i></a> <a th:href="@{/view/product/detail}"
										class="add_cart">Lihat Detail</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="single_product_item">
								<img src="/user/img/product/product_4.png" alt="">
								<div class="single_product_text">
									<h4>Quartz Belt Watch</h4>
									<h3>$150.00</h3>
									<a th:href="@{/wishlist}" class="add_cart"><i
										class="ti-heart"></i></a> <a th:href="@{/view/product/detail}"
										class="add_cart">Lihat Detail</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="single_product_item">
								<img src="/user/img/product/product_5.png" alt="">
								<div class="single_product_text">
									<h4>Quartz Belt Watch</h4>
									<h3>$150.00</h3>
									<a th:href="@{/wishlist}" class="add_cart"><i
										class="ti-heart"></i></a> <a th:href="@{/view/product/detail}"
										class="add_cart">Lihat Detail</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="single_product_item">
								<img src="/user/img/product/product_6.png" alt="">
								<div class="single_product_text">
									<h4>Quartz Belt Watch</h4>
									<h3>$150.00</h3>
									<a th:href="@{/wishlist}" class="add_cart"><i
										class="ti-heart"></i></a> <a th:href="@{/view/product/detail}"
										class="add_cart">Lihat Detail</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="single_product_item">
								<img src="/user/img/product/product_7.png" alt="">
								<div class="single_product_text">
									<h4>Quartz Belt Watch</h4>
									<h3>$150.00</h3>
									<a th:href="@{/wishlist}" class="add_cart"><i
										class="ti-heart"></i></a> <a th:href="@{/view/product/detail}"
										class="add_cart">Lihat Detail</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="single_product_item">
								<img src="/user/img/product/product_8.png" alt="">
								<div class="single_product_text">
									<h4>Quartz Belt Watch</h4>
									<h3>$150.00</h3>
									<a th:href="@{/wishlist}" class="add_cart"><i
										class="ti-heart"></i></a> <a th:href="@{/view/product/detail}"
										class="add_cart">Lihat Detail</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="single_product_item">
								<img src="/user/img/product/product_2.png" alt="">
								<div class="single_product_text">
									<h4>Quartz Belt Watch</h4>
									<h3>$150.00</h3>
									<a th:href="@{/wishlist}" class="add_cart"><i
										class="ti-heart"></i></a> <a th:href="@{/view/product/detail}"
										class="add_cart">Lihat Detail</a>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="pageination">
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-center">
										<li class="page-item"><a class="page-link" href="#"
											aria-label="Previous"> <i class="ti-angle-double-left"></i>
										</a></li>
										<li class="page-item"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item"><a class="page-link" href="#">4</a></li>
										<li class="page-item"><a class="page-link" href="#">5</a></li>
										<li class="page-item"><a class="page-link" href="#">6</a></li>
										<li class="page-item"><a class="page-link" href="#"
											aria-label="Next"> <i class="ti-angle-double-right"></i>
										</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Category Product Area =================-->
	<div th:replace="user/share/footer"></div>
	<div th:fragment="script"></div>
	<div th:replace="user/share/script"></div>
</body>
</html>